.toolbar__example-spacer {
  flex: 1 1 auto;
}

.toolbar__button_menu {
  margin-right: 10px;
}

.circular--portrait {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}
.circular--portrait img {
  width: 100%;
  height: 100%;
}
.toolbar__user_info{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
}
