<!-- <div class="center_content">
    <div class="login__card">
      <section class="login__title">
        <h1>Angular CRUD</h1>
      </section>
      <section class="login__button">
        <button mat-button routerLink="/home">Login with Google</button>
        <button mat-button>Login with Facebook</button>
        <button mat-button>Login with Twitter</button>
        <button mat-button>Login with GitHub</button>
      </section>
    </div>
  </div> -->

<section class="login__container">
  <div class="login_sec_a">
    <div class="center_content">
      <div>
        <img src="/assets/security.png" height="200" alt="" />
      </div>
    </div>
  </div>
  <div class="login_sec_b">
    <div class="center_content">
      <section class="login__button">
        <h1>USER<strong>ADMIN</strong></h1>
        <button mat-button class="button_google" routerLink="/home">
          Login with Google
        </button>
        <button mat-button class="button_facebook">Login with Facebook</button>
      </section>
    </div>
  </div>
</section>
