<form
  #newUserForm="ngForm"
  class="general__form_container"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input
      matInput
      name="firstName"
      placeholder="Jhon"
      formControlName="firstName"
    />
    <mat-error *ngIf="profileForm.controls['firstName'].errors?.['required']"
      >😡 Name is required.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Doe" formControlName="lastName" />
    <mat-error *ngIf="profileForm.controls['lastName'].errors?.['required']"
      >😡 Last name is required.</mat-error
    >
  </mat-form-field>

  <div formGroupName="address">
    <mat-form-field appearance="outline">
      <mat-label>Region</mat-label>
      <mat-select formControlName="region" name="food">
        <mat-option
          *ngFor="let region of regionComunaList"
          [value]="region.region"
        >
          {{ region.region }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.get('address.region')?.errors?.['required']"
        >😡 Region is required.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="comunaArray?.length > 0">
      <mat-label>Comuna</mat-label>
      <mat-select formControlName="comuna" name="food">
        <mat-option *ngFor="let comuna of comunaArray" [value]="comuna">
          {{ comuna }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.get('address.comuna')?.errors?.['required']"
        >😡 Comuna is required.</mat-error
      >
    </mat-form-field>
  </div>

  <button
    [ngClass]="{ general__loading_button_animation: loading }"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!profileForm.valid"
  >
    Save
  </button>
</form>
